.header {
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container1{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.card {
  position: relative;
  overflow: hidden;
}

.thumb {
  width: 100%;
  height: 100%;
}

.card-img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  display: block;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay {
  position: absolute;
  align-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 24px;
  background-color: #44acff;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);

}

.card-overlay:hover {
  opacity: 2;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}


.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster{
  text-align: left;
  font-family: 'Roboto' sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
margin-top: 29px;

}

.section-two-content .overlay {
  width: 370px;
  height: 294px;
  position: absolute;
  bottom: -103%;
  left: 0;
  right: 0;
  background-color: #1998ffd6;
  color: white;
  text-align: center;
  padding: 30px;
  transition: bottom 0.5s;
  cursor: pointer;
}

.section-two-content:hover .overlay,
.section-two-content:focus .overlay {
  bottom: 0;
  cursor: pointer;
}





.card:hover .card-img {
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.main {
  font-family: 'Roboto', sans-serif;
}

.footer {
  font-family: 'Roboto', sans-serif;
}

.header-a {
  font-size: 14px;
  line-height: 61.41%;
}

.header-a {
  line-height: 438.64%;
}

.main-h1 {
  font-size: 44px;
  line-height: 60%;
}

.main-h1 {
  line-height: 136.36%;
}

.main-button {
  font-size: 16px;
  line-height: 30%;
}

.main-button {
  line-height: 187.5%;
}

.main-h5 {
  font-size: 14px;
  line-height: 61.41%;
}

.main-h5 {
  line-height: 438.64%;
}

.main-p {
  font-size: 14px;
  line-height: 24%;
}

.main-p {
  line-height: 170%;
}

.main-h1 {
  font-size: 36px;
  line-height: 136%;
}

:root {
  --color-text-black: #212121;
  --color-acent: #2196F3;
}

.header-a {
  display: flex;
  margin-right: 50px;
  align-items: center;
  color: #212121;
}


.header-a:hover {
  color: var(--color-acent);
}

.header-tel:hover {
  color: var(--color-acent);
}

.header-tel1:hover {
  color: var(--color-acent);
}

.section-two-content:hover {
  box-shadow: 0px 5px 10px #989898;
}

.main-button:hover {
  background-color: #2196F3;
  color: white;
  box-shadow: 0px 2px 5px #989898;
  cursor: pointer;
}

.main-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  background-color: #F5F4FA;
  color: black;
  border: 0px;
  border-radius: 10px 10px;
  margin-right: 20px;
  padding: 10px 32px;
  justify-content: center;
  animation: myAnim 2s ease 0s 10000 normal forwards;
}

@keyframes myAnim{
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.section-three {
  display: block;
}

.section-three .container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}



.main-h7 {
  display: flex;
  padding-bottom: 4px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  margin-left: 25px;
}

.main-p {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  line-height: 30px;
  margin-left: 25px;
}

.section-two {
  padding-left: 5px;
}

.footer {
  background-color: rgb(38, 38, 38);
  padding: 94px 0;
}



.header {
  display: flex;
  justify-content: center;
}

.header-a {
  height: 16px;
  left: 548px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.section-two {
  align-items: center;
  padding: 50px 0;
}

.n{
  animation: anim 2s ease 0s 1 normal forwards;
}

.o{
  animation: anim 2s ease 0s 1 normal forwards;
}


.header-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.header-a1 {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-left: 20px;
}


.header-tel1 {
  align-items: center;
  color: #212121;
  font-size: 14px;
  text-decoration: none;
}



.section-two-content2 {
  width: 370px;
}

.header-tel {
  color: #212121;
  font-size: 14px;
  text-decoration: none;
}


.section-four-item {
  justify-content: space-between;
  width: 24%;
}


.section-one {
  justify-content: center;
}

.section-two-content {
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: calc((100% - 60px) / 3);
  width: 31%;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  cursor: pointer;
}

/*.section {
  width: 1170px;
  list-style: none;
  display: flex;
  padding-left: 53px;
  justify-content: space-between;
}*/

.section {
  list-style: none;
  display: flex;
}


.project-prime {
  width: 370px;
  padding-left: 30px;
}

.project-boxes {
  width: 370px;
  padding-left: 30px;
}


.Inspiration-has-no-Borders {
  width: 370px;
  padding-left: 30px;
}


.project-LAB {
  padding-left: 30px;
}

.growing-business {
  padding-left: 30px;
}

.footer-div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.footer-p {
  padding-left: 15px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  padding-bottom: 9px;
}

.w{
  display: flex;
  justify-content: center;
}
.container1 {
  padding-top: 94px;
}

.ccntainer{
margin-left: 215px;
margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 90px;
}


.foter-p {
  padding-left: 15px;
  font-weight: 400;
  font-size: 14px;
  color: #bcbcbc;
  padding-bottom: 9px;
}

.section-two .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.contalner {
  padding-left: 25px;
}

.container-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-four {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 115px;
}

button.main-button{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



div.section-two-content{
  transition: box-shadow 250ms  cubic-bezier(0.4, 0, 0.2, 1);

}

a.header-a{
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

a.header-tel{
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

a.header-tel1{
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.WEB {
  width: 145px;
}
.xc::after{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

span.ico{
  transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1), color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.n:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #44acff;
  transition: background-color 250ms ease;
}

.o {
  color: #44acff;
}

#e::after {
  content: "";
  position: absolute;
  top: 60px;
  display: block;
  width: 74px;
  height: 4px;
  background-color: #44acff;
}



.main-img {
  width: 100%;
}

.container-button {
  justify-content: center;
  display: flex;
}

.footer-p {
  color: white;
}

.icon-div {
  margin-left: 105px;
  margin-top: 10px;
}


.ico {
  font-size: 20px;
  color: rgba(175, 177, 184, 1);
  margin-bottom: 44px;
  padding: 10px;
  border-radius: 50%;
  background-color: #454545;
}

.ico:hover{
cursor: pointer;
}

.icon-envelope1{
  margin-left: 87px;
}

.ic:hover {
  color: #2196F3;
}

.icon-Vector {
  margin-left: 65px;
  font-size: 1;
}

.smm{
  padding-right: 10px;
}

.ic {
  display: flex;
  align-items: center;
  animation: anim 2s ease 0s 1 normal forwards;
}

@keyframes anim {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


.ic span, .ic a {
  color: black; 
  transition: color 0.3s;
  outline: none; 
}

.ic:hover span, .ic:hover a {
  color: #2196F3;  
}



.navigation-right {
  display: flex;
  margin-right: 40px;
}

span.smm{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ico:hover {
  color: white;
  background-color: #2196F3;
}

input{
  color: #fff;
}

form input,
form textarea {
  width: 468px;
  padding: 8px;
  box-sizing: border-box;
  padding-left: 22px;
}

.foote-p {
  color: #FFFFFF;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}

.subscription-container {
  text-align: center;
  margin-top: 10px;
}

.subscription-form {
  margin-left: 93px;
}

.subscription-form label {
  font-size: 14px;
}

.f00te-p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
  display: flex;
}

input[type=email]:focus {
  border: 2px solid #2196F3;
  border-radius: 2px;
  outline-width: 0;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;

}

.input-group input {
  background-color: rgb(38, 38, 38);
  border: solid #616161 3px;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  width: 358px;
  Height: 53px;
}

.input-group input:focus,
.input-group button:focus {
  outline: none;
}

.input-group button {
  border: none;
  border-radius: 5px 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

form button[type="submit-one"] {
  margin-bottom: 19px;
  margin-top: 19px;
  margin-left: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 48px;
  padding-left: 48px;
  background-color: #007bff;
  color: #fff;
  border: none;
  animation: myAnim 2s ease 0s 10000 normal forwards;
}

.y {
  margin-left: 10px;
}
/* .section-four {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */


/* .secti0n {
  width: 650px;
  padding-top: 94px;
}

.sect1on {
  display: flex;
}


.containerr {
  display: flex;
  margin-left: 30px;
} */
/* 
.section-three {
  display: flex;
  align-items: center;
  padding-left: 200px;
  padding-top: 84px;
}

.section-five {
  display: flex;
  align-items: center;
  padding-left: 200px;
  padding-top: 84px;
  padding-bottom: 114px;
} */


/* .section-background {
  border: solid #EEEEEE;
  border-width: 1px;
  width: 370px;
} */